<div class="author">
    <h1 class="author_Heading">Welcome to blogSpot.</h1>
    <p class="author_body">Here you can post your blogs</p>
</div>

<img src="/images/Hero-image.png" alt="blogSpot" class="hero-image" width="600" height="600">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>

            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; view order posts</a>
    
</section>